<html>
    <head>
        <script type="text/javascript" src="/hybrid/1.0/hybrid.js"></script>
        <script type="text/javascript">
            function getDevice() {
                return hybrid.getDevice({
                    success : function(device) {
                        document.getElementById('console').innerText = JSON.stringify(device);
                    },
                    error   : function(e) {
                        document.getElementById('console').innerText = (e.stack || e.error);
                    },
                });
            }

            function getAuthentication() {
                return hybrid.getAuthentication({
                    success : function(user) {
                        document.getElementById('console').innerText = JSON.stringify(user);
                    },
                    error   : function(e) {
                        document.getElementById('console').innerText = (e.stack || e.error);
                    },
                });
            }
        </script>
    </head>
    <body>
        <h1>Hello, beast!</h1>
        <h2 id="console"></h2>
        <ul>
            <li><a href="javascript:void(0)" onclick="getDevice()">getDevice</a></li>
            <li><a href="javascript:void(0)" onclick="getAuthentication()">getUser</a></li>
        </ul>
    </body>
</html>
